<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
<preferred>org.jvnet.substance.SubstanceLookAndFeel</preferred>
<zones>
		<play>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</down>
			<up>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</up>
		</play>
		<graveyard>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>false</mosaic>
				<background>-985606</background>
			</down>
			<up>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>false</mosaic>
				<background>-985606</background>
			</up>
		</graveyard>
		<hand>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</down>
			<up>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</up>
		</hand>
		<library>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>false</mosaic>
				<background>-985606</background>
			</down>
			<up>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>false</mosaic>
				<background>-985606</background>
			</up>
		</library>
		<tbz>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</down>
		</tbz>
		<dbz>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</down>
		</dbz>
		<side>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</down>
		</side>
		<stack>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>true</mosaic>
				<background>-16777216</background>
			</down>
		</stack>
		<phased-out>
			<down>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>false</mosaic>
				<background>-985606</background>
			</down>
			<up>
				<wallpaper>images/play/hardwoodfloor.png</wallpaper>
				<mosaic>false</mosaic>
				<background>-985606</background>
			</up>
		</phased-out>
	</zones>
<language>auto</language>
<automana>true</automana>
<autostack>false</autostack>
<lastTBS>mtg</lastTBS>
<logdisptime>false</logdisptime>
<loglocked>false</loglocked>
<chatdisptime>false</chatdisptime>
<chatlocked>false</chatlocked>
<threshold-colored>6</threshold-colored>
<border-color>auto</border-color>
<timer>
		<hourglass-delay>0</hourglass-delay>
		<deadlock-delay>0</deadlock-delay>
		<waiting-delay>0</waiting-delay>
	</timer>
<themes>
		<skinlf>
			<caches>
<cache file="lib/amarachthemepack.zip" name="Amarach"/>
<cache file="lib/aquathemepack.zip" name="Aqua"/>
<cache file="lib/b0sumiErgothempack.zip" name="b0sumiErgo"/>
<cache file="lib/BeOSthemepack.zip" name="BeOS"/>
<cache file="lib/blueTurquesathemepack.zip" name="BlueTurquesa"/>
<cache file="lib/coronaHthemepack.zip" name="CoronaH"/>
<cache file="lib/crystal2themepack.zip" name="Crystal2"/>
<cache file="lib/fatalEthemepack.zip" name="FatalE"/>
<cache file="lib/gorillathemepack.zip" name="Gorilla"/>
<cache file="lib/macosthemepack.zip" name="Mac OS"/>
<cache file="lib/mmMagra-Xthemepack.zip" name="mmMagra-X"/>
<cache file="lib/modernthemepack.zip" name="Modern"/>
<cache file="lib/toxicthemepack.zip" name="Alluminium Alloy / Toxic"/>
<cache file="lib/xplunathemepack.zip" name="XP Luna"/>
</caches>
		</skinlf>
	</themes>
<port>1299</port>
<clientPassword>OBF|</clientPassword>
<ip>10.44.32.154</ip>
<gameName>My Game</gameName>
<serverPassword>OBF|</serverPassword>
<useMana>true</useMana>
<opponentResponse>true</opponentResponse>
<database>
		<dataOrder>magiccards.info|</dataOrder>
		<pictureOrder>magiccards.info|</pictureOrder>
	</database>
<decks>
		<constraint>none</constraint>

















































































































































































































<deck>tbs/mtg/decks/thor/thor_noir vert bleu.txt</deck>
<deck>tbs/mtg/decks/thor/thor_Necromancien.txt</deck>
<deck>tbs/mtg/decks/thor/thor_blanc rouge bleu.txt</deck>
<deck>tbs/mtg/decks/thor/thor_Vampire.txt</deck>
<deck>tbs/mtg/decks/thor/thor_noir-blanc.txt</deck>
<deck>tbs/mtg/decks/test/bug_1259173_stasis.txt</deck>
<deck>tbs/mtg/decks/test/test_fetch.txt</deck>
<deck>tbs/mtg/decks/test/test_planeswalker.txt</deck>
<deck>tbs/mtg/decks/type_2/[2006-10-29]-1st @ Piscataway Champs - 'GhaziGlare' by Paul Bieber-Tremblay.txt</deck>
<deck>tbs/mtg/decks/thor/thor_atog.txt</deck>
<deck>tbs/mtg/decks/test/bug_1660295_state-based-effects.txt</deck>
</decks>
<reverseArt>true</reverseArt>
<reverseSide>false</reverseSide>
<whoStarts>0</whoStarts>
</Configuration>
